@import "normalize.css";
@import "basscss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: var(--color-dark);
  line-height: 1.5;
}
.border,
.border-top,
.border-right,
.border-bottom,
.border-left {
  border-color: var(--color-border);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-blue);
}

a {
  border-bottom: 2px solid var(--color-aqua);
  color: var(--color-blue);
  text-decoration: none;
  transition: all 0.1s ease-out;
}
a:hover,
a:focus {
  border-bottom-color: var(--color-blue);
  color: var(--color-aqua);
}
a.active {
  border-bottom: 0;
  color: var(--color-aqua);
}

p {
  margin-bottom: 1em;
}

pre, code {
  font-family: monospace;
}

img,
svg {
  max-width: 100%;
}

footer {
  color: var(--color-light);
}
footer a {
  color: var(--color-light);
  border-bottom-color: var(--color-border);
}

:root {
  --color-dark: #555555;
  --color-light: #cdcdcd;
  --color-border: #dedede;

  --color-dark-blue: #001f3f;
  --color-blue: #0074d9;
  --color-aqua: #7fdbff;
}
