<div class="pa3">
  <header class="bb">
    <h1 class="f1">Ember Data Contentful</h1>
    <nav>
      <ul class="list pl0">
        <li class="dib mr1">{{link-to 'Home' 'posts'}}</li>
        <li class="dib mr1">{{link-to 'Test Page' 'page' 'test-page'}}</li>
      </ul>
    </nav>
  </header>
  {{outlet}}
  <footer class="mt4">
    <p class="f6">made by <a href="https://gitub.com/davidpett">David Pett</a> using <a href="https://github.com/davidpett/ember-markedjs">ember-markedjs</a> and <a href="http://tachyons.io/">tachyons</a></p>
  </footer>
</div>
