<div class="p3">
  <header class="border-bottom">
    <h1 class="h1">Ember Data Contentful</h1>
    <nav>
      <ul class="list-reset">
        <li class="inline-block mr1">{{link-to 'Home' 'posts'}}</li>
      </ul>
    </nav>
  </header>
  {{outlet}}
  <footer class="mt4">
    <p class="h6">made by <a href="https://gitub.com/davidpett">David Pett</a> using <a href="https://github.com/johnotander/ember-remarkable">ember-remarkable</a> and <a href="http://www.basscss.com/">basscss</a></p>
  </footer>
</div>
